*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font: normal normal 14px/20px Helvetica, Arial, sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;

  margin: 0;
  padding: 0;
  background: white;
}
